body{
    text-align: center;
    background-color: rgb(50, 120, 167);
}
h1{
    font-size:50px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family:Verdana, Tahoma, sans-serif;
}
h2{
    margin-top: 5px; 
    font-size: 20px;
}
h3{
    margin-bottom: 0px;
    margin-top: 0px;
}
h4{
    margin-bottom: 0px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.column{
    width: 200px;
    height: 120px;  
    position: relative;                    
}

/* all logos */
.logo-img{
    background-color: rgb(50, 120, 167);
    border: 0;
    margin-top: 6em;
    transform: translateY(-60%);
}
.logo-vis{
    justify-content: center;
    display: flex;
    margin-bottom: 1.5em;
}

/* League pages only */
.games{                 
    color: #1c1c1c;
    padding-bottom: 10px;
    height: 30px;
   position: relative;   
}
.league-column{
    padding: 16px;
    display: table-cell;
    border: 1px solid;
    width: 25%;
}
.net{
    font: bold 14px Arial;
}  
.scores{
    float: right;   
    margin-right: 10px;
}
.team{    
    margin-left: 10px;
    float: left;
}
.team-info{
    width: 100%;
    position: absolute;
    height: 30px;
    top: 10%;
}
.team-logo{
    float: left;     
}
#alt-column{
    background-color: rgb(50, 97, 141); 
}
#btn {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #CCCCCC;
}
#date{
    background-color: rgb(56, 127, 175);
    border: 2px solid;
    padding-top: 4px;
    padding-bottom: 0px;
}
#league-row{
    display: table;
    width: 100%;
}
#league-logo{
    height: 140px
}
#time{ 
    font: bold 14px Arial;        
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    padding-top: 10px;  
    padding-bottom: 5px; 
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    margin-bottom: 10px;
}

/* Stream page only */
.net-box{
    width: 20em;
    justify-content: center;
    margin: auto;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 1.5em;
}
.net-button{
    float: right;
    transform: translateY(5%);
}
.net-check{
    float: left;
    transform: translateY(15%);
}
.net-text{
    float: left;
}

/* Home button */
#home{ 
    background-color: rgb(50, 120, 167);
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px;
}

/* Pref button */
#prefs{
    background-color: rgb(50, 120, 167);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px;
}

/* Preferences only */
/* dropdowns */
.drop{
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 5em;
    text-align-last: center;
    text-align: center;
}
.drop-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mid-left, .top-left{
    width: 50%;
    margin-left: 5%;
}
.mid-right{
    width: 50%;
    top: 50%;
    transform: translateY(-25%);
    margin-right: 5%;
}
.middle{
    padding-top: 15px;
    display: flex;
}
.select-priority{
    margin-top: 5px;
    width: 5em;
    text-align: left;
}
.top{
    display: flex;
    
}
.top-right{
    width: 50%;
    top: 50%;
    margin-right: 5%;
}
#timer{
    width: 10em;
    margin: auto;
    text-align-last: center;
    text-align: center;
}
#select-timer{
    margin-top: 5px;
    width: 10em;
    text-align: left;
}

/* Pref logos only */
#spacer{
    width: 4em;
}
#vert-space{
    height: 140px;
}

#reset{
    border-radius: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;                                           
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* TakeMe switch */
.switch {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    
    padding: 5px;
    
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #079032;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #ffffff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #e88317;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 76.5px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}